.navlist {
    display: inline-flex;
    gap: 0.2rem;
    list-style: none;
    color: hsl(219, 9%, 45%);
    
}
.navlist li {
    padding: 1.5625rem 0.5rem;
    transition: .1s linear;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -ms-transition: .1s linear;
    -o-transition: .1s linear;
}
.navlist li:hover {
    border-bottom: 0.1875rem solid hsl(26, 100%, 55%);
}

.navlist li.active {
    border-bottom: 0.1875rem solid hsl(26, 100%, 55%);
}
a {
    color: hsl(219, 9%, 45%);
}

@media (max-width: 31.25rem) {
    .navlist{ display: none;}
}