.section {
    padding: 3rem 15rem;
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-evenly;
    max-height: 100%;
    max-width: 100%;
}
@media (max-width: 31.25rem) {
    .section {
        padding: 0;
        gap: 0;
        grid-template-columns: auto;
        grid-template-rows: 40% 60%;
    }
}